<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>AHT Layout</title>
</head>
<body>
<div id="container">
    <div class="top-nav">
        <div class="top-nav-title">
            <p><i class="flaticon-ribbon"></i> Welcome to Franco - An e-Commerce PSD Template</p>
        </div>
        <div class="top-nav-option">
            <span><i class="flaticon-black-settings-button"></i> Shop Setting</span>
            <span><i class="flaticon-lock"></i> Member Login</span>
        </div>
    </div>
    <div class="nav">
        <div class="logo">
            <div class="text-logo">FRANCO</div>
        </div>

        <div class="mobile-nav">
            <a href="#">Menu <i class="flaticon-menu"></i></a>
        </div>

        <div class="clear"></div>

        <div class="main-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Collections</a></li>
                <li><a href="#">Contact</a></li>
                <li><i class="flaticon-search"></i></li>
            </ul>
        </div>
        <div class="shop-icon">
            <i class="flaticon-heart"></i>
            <i class="flaticon-shopping-cart"></i>
        </div>
    </div>

    <div class="wrap-content">
        <div class="header">
            <div class="banner-large">
                <div class="large-img">
                    <img src="assets/images/banner1.png" alt="">
                </div>
                <div class="header-text-1">BLYSZAK</div>
                <div class="header-text-2">EYEWEAR</div>
                <div class="header-text-3">Two High-end Material</div>
                <button class="header-btn">Shop Now</button>
            </div>
            <div class="right-banner">
                <div class="banner-2">
                    <img src="assets/images/banner3.png" alt="">
                    <div class="frame"></div>

                    <div class="banner-2-text">
                        <p>SMALL THING</p>
                        <p>MAKE DIFFERENT</p>
                    </div>

                    <div class="box-square"></div>

                </div>

                <div class="banner-3">
                    <img src="assets/images/banner2.png" alt="">
                    <div class="banner-3-text">
                        <p>FOLIO</p>
                        <p>BACKPACK</p>
                        <button>Shop Now</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="featured-heading">
            <P>FRANCO</P>
            <H2>FEATURED ITEMS</H2>
            <div class="line-break"></div>
        </div>

        <div class="products">
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/watch.png" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>Lorem ipsum dolor sit amet</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star unset-color"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-2.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>Lorem ipsum dolor sit amet</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-3.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>consectetur adipiscing elit.</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-4.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>at pharetra libero rutrum.</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-5.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>elementum pulvinar ante.</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>

            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-6.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>Vestibulum id massa ultrices</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-7.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>Cras auctor turpis mattis</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="assets/images/product-8.jpg" alt="">
                    <button>ADD TO CART</button>
                </div>
                <h3>Ut non leo eget erat laoreet.</h3>
                <div class="rating">
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                    <i class="flaticon-star"></i>
                </div>
                <div class="price">
                    <span class="regular-price">&#36;99.00</span>
                    <span class="sale-price">&#36;84.00</span>
                </div>

            </div>
        </div>

    </div>
    <div class="wrap-news">
        <div class="news-heading">
            <p>LATEST</p>
            <h2>NEWS & EVENTS</h2>
            <div class="line-break"></div>
        </div>
        <div class="slider">
            <div class="owl-carousel">
                <div>
                    <div class="card-item">
                        <div class="news-image">
                            <img src="assets/images/blog-1.jpg" alt="">
                            <div class="meta-date">
                                <div class="date-border">
                                    <p>Jan</p>
                                    <p>23</p>
                                </div>
                            </div>
                        </div>
                        <div class="news-meta">
                            <div class="meta-header">
                                <h3><a href="">Vestibulum id massa ultrices</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus purus, elementum sed justo a, egestas elementum sapien</p>
                            </div>
                        </div>
                        <div class="meta-footer">
                            <span class="comments"><i class="flaticon-speech-bubble"></i> 12</span>
                            <span class="wishlist"><i class="flaticon-heart"></i> 6</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-item">
                        <div class="news-image">
                            <img src="assets/images/blog-2.jpg" alt="">
                            <div class="meta-date">
                                <div class="date-border">
                                    <p>Jan</p>
                                    <p>23</p>
                                </div>
                            </div>
                        </div>
                        <div class="news-meta">
                            <div class="meta-header">
                                <h3><a href="">Vestibulum id massa ultrices</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus purus, elementum sed justo a, egestas elementum sapien</p>
                            </div>
                        </div>
                        <div class="meta-footer">
                            <span class="comments"><i class="flaticon-speech-bubble"></i> 12</span>
                            <span class="wishlist"><i class="flaticon-heart"></i> 6</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-item">
                        <div class="news-image">
                            <img src="assets/images/blog-3.jpg" alt="">
                            <div class="meta-date">
                                <div class="date-border">
                                    <p>Jan</p>
                                    <p>23</p>
                                </div>
                            </div>
                        </div>
                        <div class="news-meta">
                            <div class="meta-header">
                                <h3><a href="">Vestibulum id massa ultrices</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus purus, elementum sed justo a, egestas elementum sapien</p>
                            </div>
                        </div>
                        <div class="meta-footer">
                            <span class="comments"><i class="flaticon-speech-bubble"></i> 12</span>
                            <span class="wishlist"><i class="flaticon-heart"></i> 6</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="footer">

        <div class="footer-content">
            <div class="footer-about">
                <h2 class="footer-heading">About Franco</h2>
                <div class="after-heading-line"></div>
                <p>Sed metus purus, elementum sed justo a, egestas elementum sapien. Aliquam id enim imperdiet, facilisis
                    arcu in, ultrices nunc. Vestibulum vel diam sem. In auctor vulputate est vitae tincidunt. Fusce dictum sapien sed augue maximus sodales</p>
                <div class="social-icons">
                    <i class="flaticon-twitter"></i>
                    <i class="flaticon-linkedin"></i>
                    <i class="flaticon-behance"></i>
                    <i class="flaticon-dribbble-logo"></i>
                </div>
            </div>

            <div class="footer-nav">
                <h2 class="footer-heading">Navigation</h2>
                <div class="after-heading-line"></div>
                <div class="footer-menu">
                    <div class="footer-menu-1">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-2">
                        <ul>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Featured Brands</a></li>
                            <li><a href="#">Gift Vouchers</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Specials Gift</a></li>
                            <li><a href="#">Term & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-address">
                <h2 class="footer-heading">Shop Location</h2>
                <div class="after-heading-line"></div>
                <div class="address-info">
                    <p><i class="flaticon-map"></i> 500 Hennessy Road Causeway, Hong Kong</p>
                    <p><i class="flaticon-phone-call"></i> +1 23 65467</p>
                    <p><i class="flaticon-envelope"></i> Contact@yourdomain.com</p>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-copyright">
            <div class="copyright-text">
                <p>&copy; Copyright 2021 & Made with <i class="flaticon-like"></i> by <span style="color: #ffffff">ArrowHitech</span>.</p>
            </div>
            <div class="payment-icon">
                <i class="flaticon-visa"></i>
                <i class="flaticon-money"></i>
                <img style="width: 100%; height: 17px" src="assets/images/mastercard.png" alt="">
                <i class="flaticon-symbols"></i>
                <i class="flaticon-symbol"></i>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
</div>

</body>
</html>