@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?2d6aaff8cd091f2a59632cd0ba767df3") format("truetype"),
url("../fonts/flaticon.woff?2d6aaff8cd091f2a59632cd0ba767df3") format("woff"),
url("../fonts/flaticon.woff2?2d6aaff8cd091f2a59632cd0ba767df3") format("woff2"),
url("../fonts/flaticon.eot?2d6aaff8cd091f2a59632cd0ba767df3#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?2d6aaff8cd091f2a59632cd0ba767df3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon, serif !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-search:before {
    content: "\f101";
}
.flaticon-heart:before {
    content: "\f102";
}
.flaticon-shopping-cart:before {
    content: "\f103";
}
.flaticon-star:before {
    content: "\f104";
}
.flaticon-speech-bubble:before {
    content: "\f105";
}
.flaticon-like:before {
    content: "\f106";
}
.flaticon-ribbon:before {
    content: "\f107";
}
.flaticon-black-settings-button:before {
    content: "\f108";
}
.flaticon-lock:before {
    content: "\f109";
}
.flaticon-envelope:before {
    content: "\f10a";
}
.flaticon-phone-call:before {
    content: "\f10b";
}
.flaticon-map:before {
    content: "\f10c";
}
.flaticon-twitter:before {
    content: "\f10d";
}
.flaticon-linkedin:before {
    content: "\f10e";
}
.flaticon-dribbble-logo:before {
    content: "\f10f";
}
.flaticon-behance:before {
    content: "\f110";
}
.flaticon-money:before {
    content: "\f111";
}
.flaticon-visa:before {
    content: "\f112";
}
.flaticon-symbol:before {
    content: "\f113";
}
.flaticon-symbols:before {
    content: "\f114";
}
.flaticon-menu:before {
    content: "\f115";
}
.flaticon-credit-card:before {
    content: "\f116";
}
